venv/
.pyc
.vscode
models/face/pose_iter_116000.caffemodel
models/hand/pose_iter_102000.caffemodel
models/pose/body_25/pose_iter_584000.caffemodel
models/pose/coco/pose_iter_440000.caffemodel
models/pose/mpi/pose_iter_160000.caffemodel
capture.jpg
